body.dark-mode {
    background-color: #0D1117;
}

.dark-mode nav{
    background-color: #0a0d12;
}

.dark-mode footer{
    background-color: #0D1117;
    color: white;
}

.dark-mode .container-btn-toggle i{
    color: white;

}

.dark-mode div.ace_layer.ace_gutter-layer.ace_folding-enabled{
    background-color: rgba(35, 29, 29, 0.472);
}
.dark-mode .output-algoritmo pre{
    background-color: rgba(35, 29, 29, 0.472);
    color: white;
}

/*Toggle on e off*/
#switch[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

#labels {
    cursor: pointer;
    text-indent: -9999px;
    width: 42px;
    height: 20px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

#labels::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

#switch:checked + #labels {
    background-color: white;
}

#switch:checked + #labels::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-color:gray;
}

#labels:active:after {
    width: 45px;
}
