
.navbar{
  background-color: #d0d0d0;
}

.container-btnAcessSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50rem;
}

.input-algoritmo, .output-algoritmo  {
    position: relative;
    width: 80rem;
    height:20rem;
    border-radius: 5px;
    border: 2px solid #727171;
}

pre{
  height: 19.8rem;
}

/* Cor da quantidade de linha do input-algoritmo */
div.ace_layer.ace_gutter-layer.ace_folding-enabled{
  background-color: rgba(77, 74, 74, 0.472);
}



/*footer*/
.footer {
    background-color: rgba(255, 255, 255, 0.902);
}

.footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}
