
.navbar{
  background-color: #d0d0d0;
}

.logo {
  margin-top: -10px;
}
.container-btnAcessSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50rem;
}

.input-algoritmo, .output-algoritmo  {
    position: relative;
    width: 80rem;
    height:20rem;
    border-radius: 5px;
    border: 2px solid #727171;
}

.container-config{
  margin-left: 20rem;
  margin-top: 10rem;
}

.submenu-geral{
  margin-bottom: 20rem;
}

form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-label {
  font-weight: bold;
  margin-bottom: 10px;
}

pre{
  height: 19.8rem;
}

/* Cor da quantidade de linha do input-algoritmo */
div.ace_layer.ace_gutter-layer.ace_folding-enabled{
  background-color: rgba(77, 74, 74, 0.472);
}



/*footer*/
.footer {
    background-color: rgba(255, 255, 255, 0.902);
}

.footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}


/*----------------------------------------------------------------*/

/* CSS for Geral tab content */
#geral .form-label {
  font-weight: bold;
}

#geral .form-check-label {
  margin-left: 10px;
}

#geral .btn {
  margin-top: 20px;
}

#geral, #fala, #camera, #audio, #teclado, #mouse, #braille, #navegacao{
  padding: 200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 340px;
}


/*Btn de voz Elismara*/
#chamarbtnUserVoz {
  position: relative;
  left: -10px;
  top: 0;
}
